<div
    class="w-full h-full flex flex-col justify-center items-center gap-4 border border-neutral-100 rounded-2xl p-6 antialiased bg-white/70 backdrop-blur-md">


    <div class="w-full flex justify-between items-center gap-4">
        <img src={{userProfileImage}} alt="profile-pictire" class="size-11 rounded-full">

        <div class="w-full flex flex-col gap-0 justify-center items-start">
            <p class="font-semibold">
                {{name}}
            </p>

            <p class="text-xs text-neutral-400 uppercase">
                &#64;{{username}}
            </p>
        </div>

        <img src="../../assets/icons/twitter-logo.svg" alt="twitter-logo" class="size-6 opacity-70">
    </div>

    <div class="flex justify-start">
        <p class="font-semibold text-sm">
            {{comment}}
        </p>
    </div>

</div>