<div
    class="w-full h-full rounded-xl flex flex-col gap-4 justify-center items-center overflow-hidden relative border border-neutral-100 antialiased bg-white">



    <div
        class="absolute bottom-0 left-[50%] right-0 top-[-100%] h-[1000px] w-[1000px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(0,196,128,.4),rgba(255,255,255,0))]">

    </div>

    <div
        class="absolute bottom-0 left-[-100%] right-0 top-[0%] h-[1000px] w-[1000px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(0,196,128,.5),rgba(255,255,255,0))]">

    </div>
    <!-- <div
        class="absolute bottom-0 left-0 right-0 top-[-60%] bg-[radial-gradient(circle_400px_at_100%_200px,#1cfc03,transparent)] opacity-50">
    </div> -->


    <div class="w-full h-full flex flex-col gap-4 justify-center items-center z-10">

        <section class="w-full p-4 flex flex-col gap-1 justify-center items-start">
            <h4 class="text-3xl font-semibold text-neutral-600">
                {{title}}
            </h4>

            <p class="text-base text-neutral-400 max-w-[400px]">
                {{description}}
            </p>
        </section>

        <section class="w-full h-full flex justify-center items-end overflow-hidden rounded-xl">
            <img src={{imageUrl}} alt={{title}} class="w-full h-[300px] object-contain">
        </section>
    </div>

</div>